{% extends 'layouts/form.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
    
    <div class="login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <h6>Sign Up</h6>
                <input class="form-control" type="text" placeholder="E-mail address">
                <input class="form-control" type="password" placeholder="Password">
                <input class="form-control" type="password" placeholder="Confirm Password">
                <div class="action">
                    <a class="btn-glow primary signup" href="index.html">Sign up</a>
                </div>                
            </div>
        </div>

        <div class="already">
            <p>Already have an account?</p>
            <a href="signin.html">Sign in</a>
        </div>
    </div>

{% endblock %}
